<ion-modal-view class="message-modal-view">
    <ion-content class="padding message-modal-content">
        <div class="message-modal-btn-group">
            <a class="button button-small button-100pct button-primary standard-button" ng-click="removeConfirmed(true)">Delete</a>
        </div>
        
        <div class="message-modal-btn-group">        
            <a class="button button-small button-100pct button-complementary standard-button" ng-click="removeConfirmed(false)">Cancel</a>
        </div>
    </ion-content>
</ion-modal-view>