#warning-msg {
    padding-left: 8px;
    padding-right: 8px;
}

.card .addnew-warning {
    padding-left: 8px;
    padding-right: 8px;
}


/*
 * FOLLOWING ARE SHARED AMONG OTHER PAGES
 */
.wordinfo-form {
    text-align: center;   
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.wordinfo-form div.wordinfo-input-group {
    margin-bottom: 20px;   
}

textarea.wordinfo-textarea {
    height: 34px;
    resize: none;
}

.button-custom,
.button-custom .icon:before{
  font-size: 15px;
}