#cancel-search-btn {
    font-size: 14px;   
}

span.span-clear-input {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 600;
}


/*  BELOW ARE SHARED STYLES */

i.icon.icon-close {
    border: none;   
    font-size: 32px;
    font-weight: 400;  
    right: 7px;
}